<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
	<!-- Menu and menu items -->
	
	<extension id="create_label_from_iri" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Generate label from IRI"/>
		<path value="org.protege.editor.owl.menu.tools/SlotG-A"/>
		<toolTip value="Generate a label for the selected entity by processing camel case or underscore notation from its IRI"/>
		<class value="es.um.dis.tecnomod.iri2label.CreateLabelFromIRI"/>
		<editorKitId value="any"/>
	</extension>

    <extension id="create_label_from_iri_bulk" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Generate label from IRI (bulk)"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-B"/>
        <toolTip value="Generate a label for all entities by processing camel case or underscore notation from its IRI"/>
        <class value="es.um.dis.tecnomod.iri2label.CreateLabelFromIRIBulk"/>
        <editorKitId value="any"/>
    </extension>
    
    <extension id="import_annotations" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Import annotations"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-C"/>
        <toolTip value="Import annotations into the selected entity by extracting them through its IRI."/>
        <class value="es.um.dis.tecnomod.ontology_annotation_enrichment.ImportAnnotations"/>
        <editorKitId value="any"/>
    </extension>
    
    <extension id="import_annotations_bulk" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Import annotations (bulk)"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-D"/>
        <toolTip value="Import annotations for all entities by accessing their IRIs, one by one."/>
        <class value="es.um.dis.tecnomod.ontology_annotation_enrichment.ImportAnnotationsBulk"/>
        <editorKitId value="any"/>
    </extension>

    
</plugin>
